.option-container {
    height: calc(100vh - 54px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    display: flex;
    width: 80%;
    flex-direction: column;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.item {
    width: 100%;
}
.item:nth-child(1) {
    background-color: #ddd;
    padding: 40px 20px;
}
.item:nth-child(2) {
    padding: 40px 20px;
    background-color: #fff;
}

@media(min-width: 750px) {
    .options{
        display: flex;
        width: 400px;
        flex-direction: row;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    }
    .item {
        width: 50%;
    }
}