.dashboard-container {
    width: 90%;
    margin: 0 auto;
}
.container-welcome {
    display:flex;
    align-items: flex-end;
    justify-content: end;
}

.topbar {
    display: flex;  
    align-items: center;
    margin-top: 15px;
}
.topbar h2 {
    font-size: 14px;
    margin-right: 10px;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.btn-add-process {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.btn-add-process .container-title {
    width: 50%;
}
.btn-add-process .container-btn {
    width: 50%;
}
.btn-add-process a {
    text-align: center;
    display: block;
    padding: 10px 20px;
    background-color: #00a875;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

@media(min-width:750px) {
    
.topbar h2 {
    font-size: 16px;
    margin-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.btn-add-process .container-title {
    width: 80%;
}
.btn-add-process .container-btn {
    width: 20%;
}
.btn-add-process a {
    text-align: center;
    display: block;
    padding: 10px 20px;
    background-color: #00a875;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}
}